@font-face {
  font-family: 'Bonita';
  src: url('../fonts/BONITA.ttf') format('truetype');
  /* Puedes agregar otros formatos de fuente aquí si es necesario para compatibilidad con navegadores */
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(253, 253, 253);
  background-position: center bottom;
  background-repeat: no-repeat;
  font-family: 'Bonita', cursive;
  font-size: 1.2rem;
  color: rgba(4, 4, 4, 0.992);
  min-height: 100vh;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  align-self: flex-start;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

.alert-confirmation {
  background-color: #5ba37b;
  color: #fcfcfc;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}


h1 {
  text-align: center;
  margin: 0;
  font-size: 2.0rem;
}

.div-centered {
  align-items: center;
}

input {
  padding: 15px;
  font-size: 16px;
  border: 1px solid #853746c0;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
  outline: none;
  font-family: 'Bonita', cursive;
}

input:focus {
  border-color: #ad5582;
}

button {
  padding: 15px 20px;
  font-size: 16px;
  font-family: 'Bonita', cursive;
  background-color: #853746c0;;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.button-confirmation {
  padding: 15px 20px;
  font-size: 16px;
  font-family: 'Bonita', cursive;
  background-color: #853746c0;;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  text-align: center;
}

.p-alert {
  align-items: center;
}

.table-container {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  align-items: center;
}

th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 16px;
  background-color: #853746c0;
  color: #fff;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}


.tdname-column {
  width: 400px;
}

.tdconfirmation-column {
  width: 1px;
}

.tdstatus-column {
  width: 25px;
}

thead {
  background-color: #f2f2f2;
}

button:hover {
  background-color: #9c5478c0;
  font-family: 'Bonita', cursive;
}

.guest-list {
  font-family: 'Bonita', cursive;
  padding: 20px;
  margin-top: 20px;
  align-items: center;
}

.guest-list h2 {
  color: #333;
  text-align: center; /* Centra el texto horizontalmente */

}

/* Media queries para hacer la página responsive */
@media only screen and (max-width: 760px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    align-items: center;
    align-content: center;
  }

  h1 {
    font-size: 2.0rem;
  }

  input {
    width: 40%;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  button {
    width: 40%;  

  }
}

.guest-list {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.guest-list input[type="checkbox"] {
  margin-right: 3px;
  width: 20px;
}
